@page
@model Lab7.Pages.Link.IndexModel
@using Lab7.Utils

@{
    ViewData["Title"] = "Index";
}

<h1>Link</h1>
<form method="post">
     @if (Security.CheckIsAdmin(this.HttpContext))
     {
        <button type="submit" class="btn btn-primary" asp-page-handler="ClearCookies">Logout</button>
     }
</form>
<p>
    @if (Security.CheckIsAdmin(this.HttpContext))
    {
        <a asp-page="Create">Create New</a>
    }
    <a asp-page="Find">Find URL</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
url            </th>
            <th>
key            </th>
            <th>
minus            </th>
            <th>
plus            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Link) {
    <div style="display:flex, flex:table-column">
        <tr>
            <td>
                <a href="@item.Url">
                @Html.DisplayFor(modelItem => item.Url)
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Minus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Plus)
            </td>
            <td>
                    @if (Security.CheckIsAdmin(this.HttpContext))
                    {
                        <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a>;
                        <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>;
                    }
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a>
            </td>
        </tr>
    </div>

}
    </tbody>
</table>
